In [1]:
def even_odd(x):
    if x%2==0:
        print(x,"is even no")
    else:
        print(x,"is odd no")

In [3]:
even_odd(24)

24 is even no

In [6]:
def even_odd(x=56):
    if x%2==0:
        print(x,"is even no")
    else:
        print(x,"is odd no")

In [7]:
even_odd()

56 is even no

In [17]:
l=[12,5,6,7,8,3,3,4,67,1]
def eveodd(k)
even=[]
odd=[]
for k in l:
    if k%2==2:
        even.append(k)
    else:
        odd.append(k)

In [ ]:
def prime_no(no):
    if no>1:
        for k in range(2,no):
            if no%k==0:
                print(n,"no is not a prime no")
                break
            else:
                print(no,"is a prime number")
        else:
            print(no,"is a prime no")

In [49]:
no=int(input("enter a number"))
prime_no(no)

enter a number5
5 is a prime

In [19]:
def prime_no(k):
     if (k%k==0)&(k%1==0):
      print(k,"is a prime")
     else:
      print(k,"is not a prime no")

In [21]:
prime_no(5)

5 is a prime

In [37]:
l=[12,5,6,7,8,3,3,4,67,1]

In [47]:
def prime(l):
 prime=[]
 notprime=[]
 for k in range(2,len(l)):
    if (k%k==0)&(k%1==0):
        prime.append(k)
    else:
        notprime.append(k)
 print(prime)
 print(notprime)

In [48]:
prime(l)

[2, 3, 4, 5, 6, 7, 8, 9]
[]

In [62]:
l2=[5,6,7,8,35,35,24]

In [87]:
def prime_no(l):
    prime=[]
    notprime=[]
    for no in l:
       if no>1:
          for k in range(2,no):
             if no%k==0:
                 notprime.append(no)
                 break
          else:
             prime.append(no)
    print(prime)
    print(notprime)

In [88]:
prime_no(l2)

[5, 7]
[6, 8, 35, 35, 24]

In [89]:
def prime_no():
    u=15
    l=1
    for no in range(l,u+1):
       if no>1:
          for k in range(2,no):
             if no%k==0:
                 break
          else:
             print(no)

In [90]:
prime_no()

2
3
5
7
11
13

In [91]:
def prime_no(u=15,l=1):
    for no in range(l,u+1):
       if no>1:
          for k in range(2,no):
             if no%k==0:
                 break
          else:
             print(no)

In [93]:
prime_no()

2
3
5
7
11
13

In [96]:
def info(name="ish",age="20",address="jaipur"):
    print("my name is",name)
    print("i am from",address)
    print("i am",age,"years old")

In [97]:
info()

my name is ish
i am from jaipur
i am 20 years old

In [99]:
info("rahul","ahmedabad",45)

my name is rahul
i am from 45
i am ahmedabad years old

In [100]:
info(name="rahul",address="ahmedabad",age=45)

my name is rahul
i am from ahmedabad
i am 45 years old

In [102]:
def add(x,y):
    add=x+y
    print(add)

In [103]:
add(9,56)

65

In [104]:
type(add)

function

In [105]:
type(add(4,5))

9

NoneType

In [107]:
def add(x,y):
    add=x+y
    return add

In [108]:
type(add(4,5))

int

In [109]:
def add(x,y):
    add=x+y
    return add
    return "ish"

In [112]:
type(add(3,4))

int

In [111]:
add(4,5)

9

In [113]:
def add(x,y):
    add=x+y
    print (add)
    return "ish"

In [114]:
add(4,5)

9

'ish'

In [115]:
def add(x,y):
    add=x+y
    yield add
    yield "ish"
    yield 4.5
    yield 10+5j

In [116]:
add(4,5)

In [118]:
x=add(4,5)
for k in x:
    print(k,"----",type(k))

9 ---- <class 'int'>
ish ---- <class 'str'>
4.5 ---- <class 'float'>
(10+5j) ---- <class 'complex'>

In [119]:
x=add(4,5)
next(x)

9

In [120]:
next(x)

'ish'

In [121]:
next(x)

4.5

In [122]:
next(x)

(10+5j)

In [123]:
next(x)

StopIteration:

In [124]:
import numpy as np
ar=np.eye(4)

In [125]:
ar

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [127]:
ar=np.empty((4,3))

In [128]:
ar

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 1.04082753e-047],
       [7.42859943e-091, 1.48575046e-076, 1.26900931e-076],
       [1.08589970e-042, 3.99910963e+252, 2.59305626e-306]])

In [135]:
def opr(add,sub):
    print("the operators are")

In [132]:
def add():
    a=20
    b=34
    add=a+b
    print(add)

In [133]:
def sub():
    a=20
    b=34
    sub=a+b
    print(sub)

In [136]:
opr(add(),sub())

54
54
the operators are

In [138]:
(lambda a,b:print("addition of two no a and b is ",a+b))(4,5)

addition of two no a and b is  9

In [157]:
even_odd=(lambda a:("is even")if x%2==0 else print("is odd"))

In [158]:
even_odd(45)

'is even'

In [145]:
x=lambda a,b,c,d:a+b-c*d

In [146]:
x(4,5,6,7)

-33

In [148]:
(lambda a,b,c,d:a+b-c*d)(4,5,6,7)

-33

In [151]:
max_min=lambda x,y:print(x,"is min",y ,"is max")if x<y else print(x,"is max",y,"is min")

In [152]:
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
max_min(x,y)

enter the value of x:88
enter the value of y:99
88 is min 99 is max

In [160]:
per= lambda obt_marks=int(input("enter the obt marks:")),total_marks=int(input("enter the total marks ")):print(round((obt_marks/total_marks)*100),"% per")

enter the obt marks:45
enter the marks obtained100

In [161]:
per()

45 % per

In [168]:
xy=lambda a,b:lambda c,d:lambda e,f:lambda g,h:({"add":a+b,"sub":c-d,"mul":e*f,"div":g/h})

In [182]:
z=(xy(4,5)(5,7)(6,7)(2,7))

In [184]:
type(z)

dict

In [183]:
z

{'add': 9, 'sub': -2, 'mul': 42, 'div': 0.2857142857142857}

In [185]:
for k in z:
 print(k,"---",z[k])

add --- 9
sub --- -2
mul --- 42
div --- 0.2857142857142857

In [186]:
z.items()

dict_items([('add', 9), ('sub', -2), ('mul', 42), ('div', 0.2857142857142857)])

In [187]:
(lambda l=[2,3,4,5,3,43,34,243,33,432,34,3]:max(l))()

432

In [191]:
def data(name):
    name_list=["ish","hello","kitty","kat","ok"]
    if name in name_list:
        return True 
    else:
        return False

In [192]:
sequence =input("enter the name:").split()
filtered=filter(data,sequence)
print(filtered)

enter the name:ish kitt heloo france tik
<filter object at 0x7fbc6170e950>

In [193]:
list(filtered)

['ish']

In [195]:
l=[23,4,5,67,8,8,43,2,42,54657,68,643,2657,78]
even=filter(lambda x :x%2==0,1)
odd=filter(lambda x :x%2!=0,1)

TypeError: 'int' object is not iterable

In [196]:
list(even)

[]

In [197]:
list(odd)

[12, 5, 6, 7, 8, 3, 3, 4, 67, 1]

In [198]:
import pandas as pd 
df=pd.DataFrame({"Name":["sean","jack","monica","ria","charlie"],"status":["father","grandfather","mother","daughter","son"],"birth_year":["1970","1989","1955","2005","2000"]})

In [200]:
df

      Name       status birth_year
0     sean       father       1970
1     jack  grandfather       1989
2   monica       mother       1955
3      ria     daughter       2005
4  charlie          son       2000

In [201]:
df["birth_year"]

0    1970
1    1989
2    1955
3    2005
4    2000
Name: birth_year, dtype: object

In [204]:
df["age"]=df["birth_year"].apply(lambda x:2023-x)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [205]:
df

      Name       status birth_year
0     sean       father       1970
1     jack  grandfather       1989
2   monica       mother       1955
3      ria     daughter       2005
4  charlie          son       2000

In [206]:
df["gender"]=df["Status"].map(lambda x:"female" if x=="Daughter" or x=="mother"else "male")

KeyError: 'Status'

In [207]:
df

      Name       status birth_year
0     sean       father       1970
1     jack  grandfather       1989
2   monica       mother       1955
3      ria     daughter       2005
4  charlie          son       2000

In [ ]:
below1