In [2]:
t=(55,33,55,66,22,"ish",55)
len(t)

7

In [16]:
t=(55,33,55,66,22,"ish",55)
t[4]

22

In [17]:
a=5,
print(a,type(a))

(5,) <class 'tuple'>

In [7]:
t.max()

AttributeError: 'tuple' object has no attribute 'max'

In [8]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
t.min()
t

AttributeError: 'tuple' object has no attribute 'min'

In [12]:
s="ishita"
t=(s)
t

'ishita'

In [1]:
y=tuple(input("enter the values"))
y

enter the values44 55 66 77 88

('4', '4', ' ', '5', '5', ' ', '6', '6', ' ', '7', '7', ' ', '8', '8', ' ')

In [11]:
x=
print(x,type(x))
y=eval(input("enter the values"))
print(y,type(y))

enter the values22 33 44 55 66
22 33 44 55 66 <class 'str'>
enter the values11 22 33 44 55

SyntaxError: invalid syntax (<string>, line 1)

In [7]:
s1=(33,44,55,66)
s=(4,56,77,888,2,33)
s>s1

False

In [8]:
id(s)

140462896544640

In [10]:
s_insert(33)
id(s)

NameError: name 's_insert' is not defined

In [21]:
l=list(eval(input("enter the values")))
x=tuple(l)
print(x,type(x))

enter the values22,33,44,55,66
(22, 33, 44, 55, 66) <class 'tuple'>